
footer{
    background: #575555;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 10em;
    width: 100vw;
    font-family: "open sans";
    padding-bottom: oem;
    color: #ffffff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font: 1.8rem;
    font-weight: 200;
    text-transform: capitalize;
    line-height: 3rem;
    color: aqua;
}
.footer-content p{
    max-width: 500px;
    margin: 2px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: rgb(0, 17, 252)
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover{
    color: aqua;

}
.footer-bottom{
    background: none;
    height: 0.4em;
    width: 100vw;
    padding: 0 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 0.5em;
    color: aquamarine;
}
.footer-bottom span{
    text-transform: lowercase;
    font-size: 0.9em;
    opacity: .8;
    font-weight: 100;
}